body {
font-size: 200%;
}

.result-starter{
  font-size: 75%;
}



.most-recent{
  font-size: 90%;
}

.vid-border{
  border: 5px solid black;
  width: 800px;
  height: 450px;
}

.vid-center{
  text-align: center;
}

.button-bottom-padding{
  padding-bottom: 10px;
}

.header-padding{
  padding-left: 50px;
  padding-right: 50px;
}

.logo-size{
  width: 30%;
  height: 30%;
  margin-right: 0px;
  padding: 0px;
}

.index-logo{
  width: 10%;
  margin-right: 0px;
  padding: 0px;
}

.card-size{
  width: 30%;
}

.index-card-size{
  width: 80%;
}

.result-card-size{
  width: 70%;
}

.title{
  font-family: 'Orbitron', sans-serif;
  font-size: 150%;
}

.nav-title{
  font-family: 'Orbitron', sans-serif;
  font-size: 50%;
}

.nav-list{
  font-family: 'Orbitron', sans-serif;
  font-size: 100%;
}

.calc-font{
  font-family: 'Orbitron', sans-serif;
}

.card-top-padding{
  margin-top: 15px;
  padding-top: 10px;
}

.calc-title{
  padding-top: 10px;
}
.result{
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

.brand-size{
  width: 15%;
}

.image-size{
  width: 20%;
}

div.l {
  text-align: left;
}

.card-size-past{
  width: 90%;
}

.remote-img{
  max-width: 50%;
  height: auto;
}

.code-sample{
  max-width:25%;
  height:auto;
}
