{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="card index-card-size mx-auto text-center card-top-padding">
    <h1 class="title">Calculator<img class="index-logo d-inline-block align-middle" src="{{ url_for('static', filename='images/calculator.jpg') }}"></h1>
    <p class="">
      Welcome to my calculator. Click <a href="/calculator">here</a> to do some math!
    </p>
    <p>Here is an example of how the app works.</p>
    <div class="vid-center">
      <video class="vid-border"controls>
        <source src="{{ url_for('static', filename='images/calc2.mp4') }}"" type=video/ogg>
      </video>
    </div>
  </div>
{% endblock %}
