{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div class="card card-size mx-auto text-center">
    <h1>Calculator<img class="logo-size d-inline-block align-middle" src="{{ url_for('static', filename='images/calculator.jpg') }}"></h1>
    <p class="important">
      Welcome to my calculator. Click <a href="/calculator">here</a> to do some math!
    </p>
  </div>
{% endblock %}
