{% extends "base.html" %}
{% block content %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html" />
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <title>Calculator</title>
  </head>

<body>

  <div class="card card-size-past mx-auto card-top-padding">
    <div class="card-body">
      <h2 class="card-title">Pylint and Coding Standards</h2>
      <h4>Pylint</h4>
      <ul>
        <li>Pylint is a great tool used to make sure that all programmers working on a project are working with the
        same coding standards.</li>
        <li>To use pylint you can enter <code>pylint {name_of_file}</code> into the terminal.</li>
        <li>Some default rules for pylint are not wanted by certain teams, so to remove certain errors, you have to create a
        <code>.pylintrc</code> file. In this file, write <code>disable={error_name or error_code}</code></li>
        <li>Another option would be to use inline disables and enables in your code.</li>
        <img src="{{ url_for('static', filename='images/pylint.png') }}" class="remote-img">
        <li>To look at an example of a passed test in a functioning terminal, click this link to <a href="https://app.travis-ci.com/github/ccorprew22/calc2">travis-ci</a>.</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="card card-size-past mx-auto">
    <div class="card-body">
      <h2 class="card-title">Object Oriented Programming Terms Glossary</h2>
      <ul>
        <li><code>Factory</code>  - A factory method is a creational design pattern, i.e., related to object creation. In Factory pattern, we create objects without exposing the creation logic to the client and the client uses the same common interface to create a new type of object. </li>
        <li><code>Instantiation </code>  - Instantiation is the process where a class of object may be defined. All objects of this class have a certain set of properties (associated variables), accessories (ways to access those variables), and methods (functions). An instance of that object may then be declared, giving it a unique, named identity so that it may be used in the program.</li>
        <li><code>Object</code>  - An object is an entity that encapsulates both data and behaviour. An object can be a combination of variables, functions, and data structures.</li>
        <li><code>Class</code>  - A class is an extensible program-code-template for creating objects, providing initial values for state (member variables) and implementations of behavior (member functions or methods).</li>
        <li><code>Namespace</code>  - A namespace is an object-oriented concept which allows for organization of variables, functions, and other elements of a program. A namespace encapsulates code such that to access that code, you must first reference the namespace to which you are referring. The global namespace is one such default namespace—all global variables are considered to be in the "global namespace." </li>
        <li><code>Constructor</code>  - A constructor is a special type of subroutine called to create an object. It prepares the new object for use, often accepting arguments that the constructor uses to set required member variables.</li>
        <li><code>Fixture</code>  - A special function that ensurses function tests are always ran in a known state. This could be erasing all stored data, or altering values to a known state.</li>
        <li><code>Type hint</code>  - A special annotation to a function that specifies the returned data type.</li>
        <li><code>Type cast</code>  - A method to change the data type of an object. For example string = "1"; num = int(string) would type cast the string into an int.</li>
        <li><code>Unit test</code>  - An automated piece of code that invokes a isolated functional operation in the program and then checks a single assumption about the behavior of that function.</li>
        <li><code>Static</code>  - A function or variable denoted by the static prefix means that it is shared accross all instances of a class.</li>
        <li><code>Class method</code>  - A method which is bound to the class and not the object of the class. They have the access to the state of the class as it takes a class parameter that points to the class and not the object instance. It can modify a class state that would apply across all the instances of the class.</li>
        <li><code>Facade</code>  - An object that serves as a front-facing interface masking more complex underlying or structural code. It is used to increase code readibility by hiding the complex machinations behind a clean simple object.</li>
        <li><code>Single Responsibility Principle</code>  - The Single Responsibility Principle requires that a class should have only one job. So if a class has more than one responsibility, it becomes coupled. A change to one responsibility results to modification of the other responsibility.</li>
        <li><code>Open-Closed Principle</code>  - Software entities(Classes, modules, functions) should be open for extension, not modification.</li>
        <li><code>Liskov Substitution Principle</code>  - The main idea behind Liskov Subtitution Principle is that, for any class, a client should be able to use any of its subtypes indistinguishably, without even noticing, and therefore without compromising the expected behavior at runtime. This means that clients are completely isolated and unaware of changes in the class hierarchy.</li>
        <li><code>Interface Segregation Principle</code>  - Make fine grained interfaces that are client specific Clients should not be forced to depend upon interfaces that they do not use. This principle deals with the disadvantages of implementing big interfaces.</li>
        <li><code>Dependecy Inversion Principle</code>  - Dependency should be on abstractions not concretions. High-level modules should not depend upon low-level modules. Both low and high level classes should depend on the same abstractions. Abstractions should not depend on details. Details should depend upon abstractions.</li>
        <li><code>Method</code>  - A method defines the behavior of the objects that are created from the class. In other words, a method is an action that an object is able to perform.</li>
        <li><code>Properties</code>  - The term describes a one or two functions of a class, which consist of a 'getter' that retrieves a value and a 'setter' that sets a value.</li>
      </ul>
    </div>
  </div>
  <br>
</body>
</html>
{% endblock %}
